---
# tasks file for create-instance
- name: Launch new instance
  ec2:
    region        : "{{ instance.region }}"
    zone          : "{{ instance.zone }}"
    keypair       : "{{ instance.keypair }}"
    image         : "{{ instance.base_ami_id }}"
    group_id      : "{{ instance.security_groups }}"
    instance_type : "{{ instance.type }}"
    vpc_subnet_id : "{{ instance.vpc_subnet_id }}"
    instance_tags : "{{ instance.tags }}"
    assign_public_ip : "{{ instance.assign_public_ip }}"
    wait          : "{{ instance.wait }}"
    instance_profile_name: "{{ instance.profile_name }}"
  register: ec2

- name: Add new instances to host group
  add_host:
    name             : "{{ item.public_dns_name }}"
    groups           : "{{ instance.name }}"
    ec2_id           : "{{ item.id }}"
    ansible_ssh_user : "{{ instance.user }}"
    ansible_ssh_private_key_file : "~/.ssh/{{ instance.keypair }}"
  with_items: "{{ ec2.instances }}"

- set_fact: ec2_new_ami_id="{{ item.id }}"
  with_items: "{{ ec2.instances }}"

- name: Wait for ssh server to be running
  wait_for: host={{ item.public_dns_name }} port=22 search_regex=OpenSSH timeout={{ instance_timeout }}
  with_items: "{{ ec2.instances }}"

- name: Accept new ssh fingerprints
  shell: ssh-keyscan -H {{ item.public_dns_name }} >> ~/.ssh/known_hosts
  with_items: '{{ ec2.instances }}'
